@font-face {
  font-family: "San Francisco Pro Display Thin";
  src: url("SFProDisplay-Thin.eot");
  src: url("SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("SFProDisplay-Thin.woff") format("woff"),
    url("SFProDisplay-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro Display Thin Italic";
  src: url("SFProDisplay-ThinItalic.eot");
  src: url("SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("SFProDisplay-ThinItalic.woff") format("woff"),
    url("SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro Display Ultra Light";
  src: url("SFProDisplay-Ultralight.eot");
  src: url("SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("SFProDisplay-Ultralight.woff") format("woff"),
    url("SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
