$desktop-l: 1440px;
$desktop: 1200px;
$tablet: 768px;

$color-brend: #5fd788;
$color-primary: #6b7280;
$color-header: #1f2937;
$color-footer: #9ca3af;
$color-white: #ffffff;

@mixin reset-btn {
  cursor: pointer;
  width: 274px;
  height: 40px;
  border-radius: 8px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 97.9%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

$font-family-1: "San Francisco Pro Display Thin";
$font-family-2: "San Francisco Pro Display Thin Italic";
$font-family-3: "San Francisco Pro Display Ultra Light";
