.featured-products {
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    // bottom: 50%;
    transform: translateY(-25%);
    z-index: -1;
    content: "";
    width: 100%;
    height: 220%;
    background-image: url("../picture/flowers-photo-1.png");
    background-repeat: no-repeat;
  }

  &--1 {
    &::before {
      background-image: url("../picture/flowers-photo-2.png");
    }
  }
}

.featured-products__inner {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.btn-secondary {
  background-color: $color-brend;
  border: 1px solid $color-brend;
  color: $color-white;
  @include reset-btn;

  &:hover {
    background-color: $color-white;
    border: 1px solid $color-brend;
    color: $color-brend;
  }
}

.featured-products__title {
  margin-right: 200px;
}

.featured-products__title-text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.9%;
  letter-spacing: 0.01em;
  color: $color-brend;
}

.featured-products__content {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 0px 20px;
  width: 328px;
  left: 585px;
  margin: 45px 0;
}

.featured-products__content--text {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 0px 20px;
  width: 328px;
  left: 935px;
  margin: 45px 0;
}

.featured-products__img {
  padding-left: 15px;
}

.content__text {
  display: flex;
  align-items: center;
  width: 370px;
  height: 45px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-primary;
  width: 239px;
  margin-right: 25px;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20%;
  color: $color-header;
  padding-left: 10px;
}

.price {
  width: 35px;
  height: 15px;
  background: $color-brend;
  border-radius: 8px;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $color-white;
  margin-left: 15px;
}

.point__style {
  display: flex;
  margin-left: 850px;

  li {
    list-style-type: none;
  }
}

.circle {
  background-color: $color-footer;
  border-radius: 50%;
  border: 1px solid $color-footer;
  padding: 3px 3px;
  margin: 5px;

  &:focus {
    background-color: $color-brend;
    border: 1px solid $color-brend;
  }
}
