.text-image {
  background-color: $color-brend;
  background-image: url("../picture/zarchalar.png");
  background-repeat: no-repeat;
}

.text-image__inner {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 60px;
}

.text-image__content {
  margin: 65px;
}

.text-image__title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 119.4%;
  letter-spacing: 0.01em;
  color: $color-white;
  width: 570px;
}
